/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import './partials/variables.scss';
@import './partials/fonts.scss';
@import './partials/general.scss';
@import './partials/material.scss';
@import './partials/icons.scss';
@import './partials/svg.scss';
@import './partials/list.scss';
@import './partials/buttons.scss';
@import './partials/header.scss';
@import './partials/animations.scss';
@import './partials/patterns.scss';
@import './partials/pseudoclasses.scss';
@import './partials/loader.scss';
@import './partials/images.scss';
@import './partials/text.scss';
@import './partials/mediaqueries.scss';


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: $backgroundColor;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: $backgroundColor;
}

#style-2::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $primary;
}