

.btn-speaker-nav {
  border:2px solid $primary;
  background-color:$primary;
  color:white;
  padding:9px 30px;
  font-family:'Titillium Web';
  font-size:18px;
  font-weight:700;
  cursor:pointer;
}
.btn-speaker {
  margin-top:20px;
  background-color:transparent;
  border: 2px solid $primary;
  font-family:'Titillium Web';
  font-weight:700;
  font-size:18px;
  text-transform: uppercase;
  color:#fff;
  padding:20px;
  cursor:pointer;
}
.btn-speaker:hover {
  animation: float 2s ease-in-out infinite;
  background-color: $primary !important;
  color: white;
}
.btn-speaker:hover, .btn-speaker-nav:hover {
  background-color:transparent;
  transition:0.3s ease;
}

.header-button {
  i {
    transition:0.3s ease-in-out;
    opacity:0;
  }
  padding-right:20px !important;
  background-color:$primary;
  border:none;
  padding-left:40px;
  padding-top:10px;
  padding-bottom:10px;
  color:white;
  font-weight:700;
  font-size:18px;
  letter-spacing:4px;
  text-transform: uppercase;
  border:2px solid $primary;
  cursor:pointer;
  transition:0.3s ease-in-out;
    outline:0;

  &:hover {
    background-color:transparent;
    border:2px solid $primary;
    padding-right:30px !important;
  }
  &:hover i {
    opacity:1;
    position:relative;
  }
  &:focus {
    border:2px solid $primary;
    outline:0;
  }
}

.header-button.first {
  position:absolute;
  right:10%;
  top:220px;
  transform: rotate(-5deg);
  right:200px;
}

.header-button.second {
  position: absolute;
  right: 0;
  top:350px;
  transform: rotate(-5deg);
  right: 30%;
}

.header-button.third {
  position: absolute;
  right: 0;
  top: 500px;
  transform: rotate(-5deg);
  right: 40%;
}

.header-button.fourth {
  position: absolute;
  right: 0;
  top: 600px;
  transform: rotate(-5deg);
  right: 15%;
}
@media only screen and (max-width: 1120px) { 
  .header-button {
    display:none;
  }
}
@media only screen and (max-width: 1450px) {
  .header-button.first {
    right: 10%;
    top: 220px;
    transform: rotate(-5deg);
    right: 200px;
  }

  .header-button.second {
    right: 0;
    top: 350px;
    transform: rotate(-5deg);
    right: 10%;
  }

  .header-button.third {
    right: 0;
    top: 500px;
    transform: rotate(-5deg);
    right: 30%;
  }

  .header-button.fourth {
    right: 0;
    top: 600px;
    transform: rotate(-5deg);
    right: 15%;
  }

}
