
.banner {
  min-height: 650px;
  height: 100vh;
  position:relative;
  overflow-x:hidden;
  overflow-y: hidden;
}
.banner::before {
  background-size:cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
}
.link-text {
  color:white;
  font-weight:700;
  text-decoration: underline;
  font-size:18px;
}
.lead-hero-text {
  margin-top:60px;
  font-size:$secondaryText;
  max-width:650px;
  line-height:35px;
}

#nav-logo {
  width: 200px;
  transition:0.3s ease;
  margin-right:auto;
}
#nav-show {
  width:200px;
}

nav {
  background-color: $backgroundColor;
  border-bottom:3px solid $primary;
  position:fixed !important;
  width:100%;
  padding-top:15px !important;
  padding-bottom:15px !important;
  z-index:2;
  a {
    color:white !important;
    text-transform: uppercase;
    font-weight:700;
    opacity:1 !important;
  }
  .navbar-nav {
    li {
      padding-right:40px;
      a {
        font-size:18px;
      }
    }
  }
}

.navbar-brand {
  font-family:'Titillium Web';
  font-size:25px;
}

.logo-icon {
  width:400px;
  margin-bottom:30px;
}

.hero-text {
  color:white;
  display:flex;
  text-align:left;
  justify-content: center;
  height:100%;
  width:100%;
  flex-direction: column;
  padding-top:50px;
}

.overlay {
  height:100%;
}

.text-container {
  padding-left:100px;
}


