.sponsors {
  div {
      text-align:center;
      width:100%;
      padding-top:10px;
      padding-bottom:10px;
  }
  img {
    max-width:300px;
    padding-top:20px;
  }
}
.dcflag {
  max-width:400px;
  position:absolute;
  top:160px;
  left:30%;
}

@media only screen and (max-width: 1525px) {
  .dcflag {
    top:18%;
    width:300px;
  }
}