.sponsors {
  padding-top:30px;
  padding-bottom:50px;
  div {
      padding-top:10px;
      padding-bottom:10px;
  }
  img {
    max-width:300px;
    padding-top:20px;
  }
}
.dcflag {
  max-width:300px;
}

@media only screen and (max-width: 1525px) {
  .dcflag {
    width:300px;
  }
}