@media only screen and (max-width: 1024px) {
    .pl-100 {
        padding-left:23px !important;
    }
    .presenters-desktop {
        display:none !important;
    }
    .presenters-mobile {
        display: flex !important;
    }
}

.presenters-mobile {
    display:none;
}

@media only screen and (max-width: 1200px) {
    .nav-item {
        padding-top:5px;
        padding-bottom:5px;
        font-size:$secondaryText;
    }
    .navbar-nav {
        padding-bottom:20px;
    }
}

@media only screen and (max-width: 768px) {
    .present-form {
        padding:20px !important;
        .header-button {
            width:100%;
        }
    }
    div .present-title {
        font-size:30px !important;
        height:126px !important;
    }
    h1 {
        font-size:30px !important;
    }
    #kontakti {
        min-height:642px !important;
    }
    .sponsors-text {
        img {
            max-width:268px;
        }
    }
    .circle-contact {
        display:none;
    }
    .dots {
        width: 100%;
    }
    .hero-text {
        padding-right:20px;
    }
    .title,
    .title-with-pl {
        font-size: 34px !important;
        &:after {
            bottom:-5px;
        }
    }
    .title-with-pl {
        &:after {
            left: 57px;
        }
    }
    .logo-title-container {
        padding-bottom: 1px !important;
    }
    .title {
        padding-bottom: 20px;
    }

    .lead-hero-text {
        font-size:18px !important;
        margin-top:35px !important;
    }
    .link-text {
        font-size:18px !important;
    }
    .sponsors-text {
        h1 {
            font-size:18px !important;
        }
    }
}

@media only screen and (max-width:600px) {
    h1 {
        font-size:20px !important;
    }
    .dcflag-footer {
        max-width:200px !important;
    }
    .header-button.primary-button {
        max-width:250px !important;
    }
    img.dc-flag-footer {
        width:100%;
    }
    #prezantuesit {
        padding-top:0px !important;
    }
    .sponsors-text {
        h1 {
            text-align:left !important;
        }
    }
    body div.title.logo-title-container {
        font-size:1.75rem !important;
        letter-spacing:11px !important;
        height: 103px;
    }
    .curly-braces {
        font-size:1.5rem !important;
    }
    
    .sponsors {
        img {
            max-width:200px;
        }
    }
    .dcflag {
        margin-bottom:40px;
        left: 10% !important;
        right: 10% !important;
        top: 107px !important;
    }
}
@media only screen and (max-width:575px) {
    .pt-sm-1-dc {
        padding-top:15px !important;
    }
    .pt-md-1-dc {
        margin-top:15px !important;
    }
}
@media only screen and (max-width:350px) {
    .dcflag {
        width:100% !important;
        max-width: 354px !important;
        position: inherit !important;
    }
}
@media only screen and (max-width:321px) {
    body div.title.logo-title-container {
        font-size:1.25rem !important;
    }
    .curly-braces {
        font-size:1.1rem !important;
    }
  .banner {
     padding-left:0px;
     padding-right:0px;
  }
  .dcflag {
      width:90% !important;
      margin:0px auto;
      position:inherit;
      padding-bottom:10px;
  }
  .title,
  .title-with-pl {
    font-size: 24px !important;
  }
  p {
      font-size:18px !important;
  }
}