@media only screen and (max-width: 1024px) {
    .pl-100 {
        padding-left:30px !important;
    }

}



@media only screen and (max-width: 768px) {
    .sponsors-text {
        img {
            max-width:80%;
        }
    }
    .circle-contact {
        display:none;
    }
    .dots {
        width: 1044px;
    }
    .hero-text {
        padding-right:20px;
    }
    .title {
        font-size: 34px !important;
        &:after {
            bottom:-5px;
        }
    }

    .lead-hero-text {
        font-size:18px !important;
        margin-top:35px !important;
    }
}

@media only screen and (max-width:600px) {
    .dcflag {
        left: 10% !important;
        right: 10% !important;
        top: 107px !important;
    }
}
@media only screen and (max-width:321px) {
  .banner {
     padding-left:0px;
     padding-right:0px;
  }
  .title {
    font-size: 24px !important;
  }
  p {
      font-size:18px !important;
  }
}