
#path2656,
#path2698 {
  fill: none;
  stroke:$primary;
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

#hnn-pr {
  .st0 {
    fill: none;
    stroke: $primary;
    stroke-width: 1px;
    stroke-miterlimit: 10;
  }
  z-index:-1;
  margin: 0px;
  position: absolute;
  height: 80vh;
  min-height:800px;
  bottom:0%;
  right:3%;
  overflow: hidden;
  opacity: 0.2;
}
#dc-mail {
  width:100%;
  z-index:-10;
  margin: 0px;
  position: absolute;
  height: 400px;
  overflow: hidden;
  opacity: 0.2;
  transform:rotate(-34deg);
  .st0 {
    fill: none;
    stroke: $primary;
    stroke-width: 1px;
    stroke-miterlimit: 5;
  }
}
#code-debugcon-overlay {
  z-index:-1;
  margin: 0px;
  position: absolute;
  height: 400px;
  bottom: 0;
  right:10%;
  overflow: hidden;
  opacity: 0.2;
  .st0 {
    fill: none;
    stroke: $primary;
    stroke-width: 5px;
    stroke-miterlimit: 10;
  }
}