.sponsors-text {
    max-width:900px;
    text-align:center;
    margin:0 auto;
    h1 {
        font-size:$secondaryText;
        a {
            color:$secondary;
        }
    }
    img {
        object-fit:cover;
        padding-top:50px;
        padding-bottom:50px;
        max-width:400px;
    }
}
a {
    color:$secondary !important;
}