.sponsors-text {
    max-width:900px;
    text-align:center;
    margin:0 auto;
    h1 {
        font-size:$secondaryText;
        a {
            color:$secondary;
        }
    }
    img {
        object-fit:cover;
        padding-top:50px;
        padding-bottom:50px;
        max-width:400px;
    }
}

a {
    color:$white;
    transition:0.3s ease-in-out;
    &:hover {
        cursor:pointer;
        text-decoration:none !important;
    }
}