      <nav class="navbar navbar-expand-xl navbar-dark" id="navbar">
        <div class="container-fluid">
          <div class="logo-container">
            <a class="navbar-brand" href=""><img id="nav-logo" src="img/dblogo2.png"></a>
          </div>
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav ml-auto pr-4">
              <li class="nav-item">
                <a class="nav-link nav-link-active active" ng-click="gotoAnchor('')">N'shpi <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" ng-click="gotoAnchor('kudhekur')">Ku dhe kur?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" ng-click="gotoAnchor('prezantuesit')">Prezantuesit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" ng-click="gotoAnchor('sponzoret')">Sponzorët</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" ng-click="gotoAnchor('')">DebugCon1</a>
              </li>
            </ul>
            <a href="#/prezanto"><button class="btn-speaker-nav">PREZANTO</button></a>
          </div>
        </div>
      </nav>