<div class="section" style="min-height:600px; overflow:hidden; position:relative; height:100%; padding-top:50px" id="prezantuesit">
  <div class="text-container hero-text pl-100">
    <div class="title">
      PREZANTUESIT
    </div>
    <div class="container-fluid pt-5 mt-5 pt-sm-1 pt-md-1 pl-0">
      <div class="row presenters-desktop">
        <div data-ng-repeat="person in presenters" class="prezantuesi-wrapper">
          <div class="prezantuesi">
            <div class="filter">
              <img src="img/who.png" />
              <div class="name-tag">
                {{person.name}}
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="row presenters-mobile">
        <div data-ng-repeat="person in presenters" class="presenters-mobile mt-3 mb-3 col-sm-3 col-md-2 col-xs-4 col-4">
          <div class="border-presenters">
              <img src="img/who.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
